* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: hsl(189, 100%, 32%);
  --font: hsl(0, 0%, 100%);
  --link: hsl(46, 99%, 55%);
  font-size: 62.5%;
}

body {
  background-color: var(--primary-color);
  font-family: 'Belgrano', serif;
  color: var(--font);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  text-transform: lowercase;
  margin-bottom: 5rem;
}

ul {
  display: flex;
  list-style: none;
  font-size: 2rem;
  justify-content: right;
  gap: 1.6rem;
}

a {
  text-decoration: none;
  color: var(--font);
}

a:visited {
  text-decoration: none;
  color: var(--font);
}

a:hover {
  text-decoration: none;
  color: var(--link);
  font-size: 125%;
}

.container {
  text-align: center;
}

h1 {
  font-size: 6rem;
}

h5 {
  font-size: 3rem;
}

#arrow {
  cursor: pointer;
  margin-top: 4rem;
}

#animation {
  transition: 300ms;
}
.rotate {
  transform: rotate(180deg);
  transition: 300ms;
}

.active {
  display: block !important;
}

#about {
  font-size: 2rem;
  max-width: 60rem;
  margin: auto;
  margin-top: 2rem;
}

footer {
  text-align: center;
  padding: 1rem;
  margin-bottom: 5rem;
}

.form {
  font-size: 1.5rem;
  width: 40%;
  margin: auto;
  margin-top: 7.5rem;
}

.form input {
  width: 50%;
  margin: auto;
  padding: 0.5rem;
  font-family: 'Belgrano', serif;
  border: none;
  border-radius: 0.5rem 0rem 0rem 0.5rem;
  align-items: flex-end;
}

.form button {
  width: 15%;
  margin: auto;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  font-family: 'Belgrano', serif;
  background: linear-gradient(to right, var(--link) 50%, var(--font) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 300ms ease-out;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
  margin-left: -0.3rem;
  margin-top: 2rem;
  align-items: flex-end;
}

.form button:hover {
  background-position: left bottom;
}

@media only screen and (max-width: 768px) {
  .form {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  ul {
    font-size: 1.3rem;
  }
  h1 {
    font-size: 4rem;
  }

  h5 {
    font-size: 2rem;
  }

  #about {
    max-width: 80%;
    font-size: 1.5rem;
    text-align: justify;
  }
}
